/*Styles will go here s*/
html, body{
    padding:0;
    margin: 0;
}
body{
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}
section{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

section h2{
    text-align:center;
}
header{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color:#f9faf8;

}

header h1{
    color: #f9faf8;
    font-weight: bold;
    flex: 1;
}

header nav{
    flex: 1;
    display:flex;
    justify-content: space-evenly;
}

header nav a{
    color:#E5E7EB;
    text-decoration: none;
    font-size: 18px;
}
button{
    background-color:#3882f6;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #f9faf8;
}
.hero{
    display:flex;
    width:80%;
    margin: 30px auto;
    justify-content: space-evenly;
    padding: 25px;
}

.hero .details{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-image{
    flex:2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero-image img{
    border-radius: 10px;;
}
.hero h2{
    font-size: 48px;
    color:#f9faf8;
    margin:0;
    
}

.hero p{
    color: #E5E7EB;
    font-size: 18px;
}


.fun-facts h2{
    font-size: 36px;
    font-weight: extra-bold;
    color:#1F2937;
}
.fun-facts div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fun-facts figure{
    width: 200px;
    
}
.fun-facts figcaption{
    text-align: center;
}
.fun-facts img{
    width:100%;
    border-radius: 15px;
    border:solid 3px #3882f6;
}

.qoute{
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.qoute div{
    display: flex;
    flex-direction: column;
    padding:150px
}

.qoute p{
    align-self: flex-start;
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
}

.qoute strong{
    align-self: flex-end;
}

.blue{
    background: #1f2937;
}

.white{

}

.grey{

}
