/*Styles will go here s*/
html, body{
    padding:0;
    margin: 0;
}
body{
    display:flex;
    flex-direction: column;

}
section{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
header{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header h1{
    color: #f9faf8;
    font-weight: bold;
    flex: 1;
    padding-left: 20px;
}

header nav{
    flex: 1;
    display:flex;
    justify-content: space-evenly;
}

.blue{
    background: #1f2937;
}

.blue h1{

}

.blue p{

}

.white{

}

.grey{

}
